.product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    left: 30vw;
}
.product-image {
    position: relative;
    width: 28vw;
    height: 28vw;
    margin-bottom: 20px;
}
.product-name {
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 1vw;
    color:#a2715d;
}
.product_intro {
    font-size: 1vw;
    font-weight: 700;
    margin-bottom: 1vw;
    color:rgb(67, 74, 84);
}
.product-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.total {
    height:auto;
    width: 50vw;
    font-size: 1vw;
    border-color:white;
    border-top-color: black;
    border-style: solid;
    border-bottom-color: black;
    border-width: thin;
}

.p_button {
    position: relative;
    top: 0.5vw;
}

.p_button > button {
    width: 5vw;
    height: 2vw;
    background-color: lightskyblue;
    font-weight: bold;
    color:white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.detail {
    position: relative;
    top: 1vw;
    margin-top: 2vw;
}

.t_detail{
    font-weight: 500;
    font-size: 1.2vw;
}

.p_1{
    margin-top:1vw;
    margin-bottom:1vw;
}


.review{
    position: relative;
    top: 1vw;
    width: 50vw;
    margin-top: 3vw;
    margin-bottom:1vw;
    border-color:white;
    border-style: solid;
    border-top-color: black;
    border-width: thin;
}

.qa{
    position: relative;
    top : 1vw;
    width: 50vw;
    margin-bottom: 5vw;
    border-color:white;
    border-style: solid;
    border-top-color: black;
    border-width: thin;
}