.sale_p{
    position: absolute;
    box-sizing: border-box;
    top: 20vw;
    left: 30vw;
    width: 40vw;
    
}

.sale_title{
    position: relative;
    color: burlywood;
    font-weight: 700;
    width: 100vw;
    height:7vw;
    background-color: rgb(255,210,0);
    color:red;
    font-size: 3vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 0.5vw;
}

.sale_title2{
    font-size: 1vw;
    padding-top: 0.1vw; 
    color: orangered;
}

.sale_p ul{
    list-style: none;
    padding-left: 0;
}

.sale_p ul li {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}


.p_name {
    position: relative;
    display: flex;
    padding-left: 2vw;
    font-size: 1.3vw;
    font-weight: 600;
    border-color: white;
    border-style: solid;
    width: 100%;
    
    border-top-color: gray;
    border-width: thin;
}

.sale_img{
    position: relative;
    height: 10vw;
    width: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.p_saleprice{
    margin-bottom: 2vw;
    color: red;
    font-size: 1.5vw;
    font-weight: bold;
}

.p_price{
    color: black;
    text-decoration: line-through;
}

.pp_price{
    position: relative;
    left: -3vw;
    top: -7vw;
    text-align: right;
}