.body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}


.header {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100vw;
  height: 15vh;
  padding: 70px;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-bottom-color: burlywood;
  padding-bottom: 5vw;
}


.logo {
  position: absolute;
  width: 8vw;
  top: 0vw;
  left: 7vw;
  transform: rotate(-15deg);
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.title {
  position: absolute;
  font-size: 3vw;
  font-weight: 600;
  left: 11vw;
  top: 3.5vw;
  color:black;
}

.nav1 {
  position: absolute;
  right: 18vw;
  top: 5vw;
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  font-size: 1.7vw;
  font-family: abster;
  font-weight: 520;
}

.nav1 ul li{
  display: inline-block;
  margin: 0 3vw;
}

.nav1 ul li a{
  text-decoration: none;
  margin-left: 0.5vw;
  color: black;
}

.dropdown_btn {
  position: absolute;
    width: 5vw;
    right: 7.8vw;
    top: 0vw;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown_submenu{
  width:10vw;
    position: absolute;
    right: 5vw;
    top: 4.3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    display: none;
    z-index:1;
    background:rgba(247, 247, 247, 1);
}

.dropdown_contents {
  text-decoration: none;
  display: block;
  padding: 0.3vw;
  text-align: center;
  color:black;
  font-size: 1vw;
  font-weight: 400;
  list-style-type: none;
}


.dropdown:hover .dropdown_submenu {
  display: block;
}

#container {
  position: relative;
  top: 9vw;
}

.background2{
  background-size: cover;
}


button.mbti_btn {
  position: absolute;
  top: 29vw;
  left: 10vw;
  width: 20vw;
  height:5vw;
  font-size: 2vw;
  background-color: black;
  color:white; 
}

.guest {
  position: absolute;
  top:4vw;
  right: 5vw;
  font-size: 1vw;
}


/*폰트 추가 후 font-weight 지정
.submenu_shopping {
}
*/


/* Shop 페이지 css */

.shop_page {
  position: relative;
  width: auto;
  padding-top: 70px;
}
.shop_page .nav2{
  position: absolute;
  top :10vw;
  left: 33vw;
  justify-content: space-between;
  font-family: abster;
}

.shop_page .nav2 ul li{
  display: inline-block;
  margin:0 2vw;
  text-align: center;
}

.nav2 ul li a{
  text-decoration: none;
  color: black;
  font-size: 15pt;
  font-weight: 600;
}

.search {
  position: absolute;
  top: 13vw;
  left: 33vw;
  text-align: center;

}

input[type=search] {
  width:600px;
  height: 55px;
  font-size: 20px;
  border-radius: 60px;
  border: 2px solid burlywood;
  text-align: center;
  outline: none;
}


.search_button {
  position: absolute;
  left: 500px;
  top: 10px;
  width: 4vw;
  height: 2vw;
  background-color: lightgray;
  border: none;
}

.UserNickname{
  position: absolute;
  top:5vw;
  left: 90vw;
  color: gray;
  font-weight: bold;
  font-size: 1vw;
}


  
  button.mbti_btn {
    position: absolute;
    top: 29vw;
    left: 10vw;
    width: 20vw;
    height:5vw;
    font-size: 2vw;
    background-color: black;
    color:white; 
  }
  
  .guest {
    position: absolute;
    top:4vw;
    right: 5vw;
    font-size: 1vw;
  }
  
  
  /*폰트 추가 후 font-weight 지정
  .submenu_shopping {
  }
  */
  
  
  /* Shop 페이지 css */
  
  .shop_page {
    position: relative;
    width: auto;
    padding-top: 70px;
  }
  .shop_page .nav2{
    position: absolute;
    top :10vw;
    left: 33vw;
    justify-content: space-between;
    font-family: abster;
  }
  
  .shop_page .nav2 ul li{
    display: inline-block;
    margin:0 2vw;
    text-align: center;
  }
  
  .nav2 ul li a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
    font-weight: 600;
  }
  
  .search {
    position: absolute;
    top: 13vw;
    left: 33vw;
    text-align: center;
  
  }
  
  input[type=search] {
    width:600px;
    height: 55px;
    font-size: 20px;
    border-radius: 60px;
    border: 2px solid burlywood;
    text-align: center;
    outline: none;
  }
  
  
  .search_button {
    position: absolute;
    left: 500px;
    top: 10px;
    width: 4vw;
    height: 2vw;
    background-color: lightgray;
    border: none;
  }

  .UserNickname{
    position: absolute;
    top:6vw;
    left: 90vw;
    color: gray;
    font-weight: bold;
    font-size: 1vw;
  }
