.tool_checkbox_page {
    position: relative;
    align-items: center;
    font-size: 13pt;
    margin: 10%;
    border-top: solid 2px burlywood;
}

.category {
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    background: lightgray;
    width: 10vw;
}


