.event_page1{
    position: relative;
    top: 10vw;
    left: 30vw;
}

.img123457{
    position:relative;
    top:-20vw;
    height: 17vw;
}

.img123456{
    position: relative;
    top: 15vw;
    left: -42vw;
    height:50vw;
}
